ML_ENROLL_AUTHENTIK_BASE_URL=https://id.mission-leben.de
ML_ENROLL_AUTHENTIK_TOKEN_FILE=/run/secrets/authentik_enrollment_api_token
ML_ENROLL_AGENT_CONNECTOR_UUID=00000000-0000-0000-0000-000000000000
# duo_stage_uuid from authentik/bootstrap_app_approval.py
ML_ENROLL_APP_APPROVAL_STAGE_UUID=00000000-0000-0000-0000-000000000000
ML_ENROLL_PUBLIC_ORIGIN=https://geraete.mission-leben.de
ML_ENROLL_PROXY_APP_SLUG=mission-leben-device-init
ML_ENROLL_CSRF_SECRET_FILE=/run/secrets/enrollment_csrf_secret
ML_ENROLL_ROLE_IT_GROUP=ML_DEVICE_INIT_IT
ML_ENROLL_ROLE_CENTRAL_GROUP=ML_DEVICE_INIT_ZENTRALE
ML_ENROLL_ROLE_EL_GROUP=ML_DEVICE_INIT_EL
ML_ENROLL_ROLE_PDL_GROUP=ML_DEVICE_INIT_PDL
ML_ENROLL_ORG_PREFIX=ORG_
ML_ENROLL_TOKEN_TTL_SECONDS=300
ML_ENROLL_DISPLAY_TIMEZONE=Europe/Berlin
